# Archivos de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Entorno virtual
PWVET/

*.env

# Archivos de base de datos


# Archivos de configuración de IDEs
.idea/
.vscode/

# Archivos de compilación
*.egg-info/
dist/
build/

# Archivos de configuración de Django
*.log
*.pot
*.pyc
*.pdb
*.DS_Store

# Archivos de media
media/
