{% autoescape off %}
Hola,

Hemos recibido una solicitud para restablecer la contraseña de tu cuenta. Si no realizaste esta solicitud, ignora este correo electrónico.

Para restablecer tu contraseña, haz clic en el siguiente enlace:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Si tienes problemas con el enlace, copia y pega la siguiente URL en tu navegador:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Este enlace caducará en {{ timeout }} horas.

Atentamente,  
El equipo de soporte de VETTORRES
{% endautoescape %}